header, nav, section, article, aside, footer {display: block}
header.top_banner, header.site_header, footer, #main_wrapper {margin: 5px auto; min-width:600px; width: 94%; text-align:center; font-family: "Didact Gothic" }
header.top_banner, footer{ text-align:center; }
header.top_banner{ height: 25px; padding-rop:15px; background-color:#e9f78f7b; }
header.site_header{ height: 40px;background-color:#b0f78f7b;}
footer{ height: 20px; background-color: RGB(198,217,240);}
aside { float:left; background-color:#C6D9C8; margin-right:5px; width:160px;}
section{ padding:3px; overflow:hidden; }
#clearD { clear:both; }
article.infoblock { margin:10px 15px;
padding:2px 8px; 
border-top-left-radius:15px;
border-bottom-right-radius:5px;}
header.infoblock_head { padding:0px 8px; text-align:center; }
nav { background-color:#9DB678; text-align:center; }
nav.top_menu {float:right; width:400px; height:22px; padding:9px; margin-top:5px, margin-right:10px; border-top-left-radius:15px; border-bottom-right-radius:5px;}
nav.left_menu { margin:5px 4px; margin-right:10px; height:130px; }

html {
  background-image: url(background2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}