header, nav, section, article, aside, footer {
    display: block }

header.top_banner, header.site_header, footer, #main_wrapper {
    margin: 5px auto; min-width:600px; width:94%; }

header.top_banner, footer{ text-align:center; }
header.top_banner{ height: 35px; padding-top:15px;
    background-color:#F2DCDC;}
header.site_header{ height: 50px; background-color:#FFFFB4; }
footer{ height: 20px; background-color:RGB(198,217,240); }

aside { float:left; background-color:#C6D9C8;
    margin-right:5px; width:160px;}
    section{ padding:3px; background-color: #ECECEC; }

    section{ padding:3px; background-color: #ECECEC;
        overflow:hidden; }
    
    #clearD { clear:both; }

    